openapi: 3.0.0
info:
  title: IP Lookup
  version: '1'
  description: >-
    IP Lookup resolves an IP address to its geographic location. It returns the
    country, region, city, coordinates, postal code, timezone and continent,
    along with an accuracy radius and an EU-membership flag for compliance
    routing.
  contact:
    name: APIVerve
    url: https://apiverve.com
    email: hello@apiverve.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.apiverve.com
    description: Production server
security:
  - ApiKeyAuth: []
paths:
  /v1/iplookup:
    get:
      summary: IP Lookup
      description: >-
        IP Lookup resolves an IP address to its geographic location. It returns
        the country, region, city, coordinates, postal code, timezone and
        continent, along with an accuracy radius and an EU-membership flag for
        compliance routing.
      operationId: iplookup
      tags:
        - null
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  data:
                    type: object
        '400':
          description: Bad Request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing API key
        '429':
          description: Too Many Requests - Rate limit exceeded
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas: {}
