openapi: 3.0.0
info:
  title: Minimum Wage
  version: '1'
  description: >-
    Minimum Wage provides current minimum wage rates for all US states plus the
    federal minimum. Includes tipped minimum wages, effective rates (higher of
    state or federal), and historical federal minimum wage data.
  contact:
    name: APIVerve
    url: https://apiverve.com
    email: hello@apiverve.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.apiverve.com
    description: Production server
security:
  - ApiKeyAuth: []
paths:
  /v1/minimumwage:
    get:
      summary: Minimum Wage
      description: >-
        Minimum Wage provides current minimum wage rates for all US states plus
        the federal minimum. Includes tipped minimum wages, effective rates
        (higher of state or federal), and historical federal minimum wage data.
      operationId: minimumwage
      tags:
        - null
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  data:
                    type: object
        '400':
          description: Bad Request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing API key
        '429':
          description: Too Many Requests - Rate limit exceeded
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas: {}
