openapi: 3.0.0
info:
  title: DNSSEC Checker
  version: '1'
  description: >-
    DNSSEC Checker validates the DNSSEC (Domain Name System Security Extensions)
    configuration of a domain. It verifies that DNS responses are authenticated
    and haven't been tampered with.
  contact:
    name: APIVerve
    url: https://apiverve.com
    email: hello@apiverve.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.apiverve.com
    description: Production server
security:
  - ApiKeyAuth: []
paths:
  /v1/dnsseccheck:
    get:
      summary: DNSSEC Checker
      description: >-
        DNSSEC Checker validates the DNSSEC (Domain Name System Security
        Extensions) configuration of a domain. It verifies that DNS responses
        are authenticated and haven't been tampered with.
      operationId: dnsseccheck
      tags:
        - null
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  data:
                    type: object
        '400':
          description: Bad Request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing API key
        '429':
          description: Too Many Requests - Rate limit exceeded
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas: {}
