openapi: 3.0.0
info:
  title: ISBN Validator
  version: '1'
  description: >-
    ISBN Validator is a comprehensive tool for validating and parsing ISBN-10
    and ISBN-13 book identification numbers. It validates checksums and provides
    detailed information about each ISBN component.
  contact:
    name: APIVerve
    url: https://apiverve.com
    email: hello@apiverve.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.apiverve.com
    description: Production server
security:
  - ApiKeyAuth: []
paths:
  /v1/isbnvalidator:
    get:
      summary: ISBN Validator
      description: >-
        ISBN Validator is a comprehensive tool for validating and parsing
        ISBN-10 and ISBN-13 book identification numbers. It validates checksums
        and provides detailed information about each ISBN component.
      operationId: isbnvalidator
      tags:
        - null
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  data:
                    type: object
        '400':
          description: Bad Request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing API key
        '429':
          description: Too Many Requests - Rate limit exceeded
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas: {}
