openapi: 3.0.0
info:
  title: Email Validator
  version: '1'
  description: >-
    Email Validator is a simple tool for validating if an email address is valid
    or not. It checks the email address format and the domain records to see if
    the email address is valid.
  contact:
    name: APIVerve
    url: https://apiverve.com
    email: hello@apiverve.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.apiverve.com
    description: Production server
security:
  - ApiKeyAuth: []
paths:
  /v1/emailvalidator:
    get:
      summary: Email Validator
      description: >-
        Email Validator is a simple tool for validating if an email address is
        valid or not. It checks the email address format and the domain records
        to see if the email address is valid.
      operationId: emailvalidator
      tags:
        - null
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  data:
                    type: object
        '400':
          description: Bad Request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing API key
        '429':
          description: Too Many Requests - Rate limit exceeded
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas: {}
