openapi: 3.0.0
info:
  title: Email Validator
  version: '1'
  description: >-
    Email Validator checks whether an email address is valid, deliverable and
    safe. It validates the format, resolves the domain's mail (MX) records,
    flags disposable and role-based addresses, and returns a composite risk
    score with typo correction.
  contact:
    name: APIVerve
    url: https://apiverve.com
    email: hello@apiverve.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.apiverve.com
    description: Production server
security:
  - ApiKeyAuth: []
paths:
  /v1/emailvalidator:
    get:
      summary: Email Validator
      description: >-
        Email Validator checks whether an email address is valid, deliverable
        and safe. It validates the format, resolves the domain's mail (MX)
        records, flags disposable and role-based addresses, and returns a
        composite risk score with typo correction.
      operationId: emailvalidator
      tags:
        - null
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  data:
                    type: object
        '400':
          description: Bad Request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing API key
        '429':
          description: Too Many Requests - Rate limit exceeded
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas: {}
