openapi: 3.0.0
info:
  title: Card Validator
  version: '1'
  description: >-
    Card Validator checks whether a card number is valid, identifies the card
    brand, and flags risk. It runs the Luhn checksum, detects the scheme (Visa,
    Mastercard, Amex and more), returns the PCI-safe BIN and last 4 digits,
    flags known processor test cards, and returns a composite risk score.
  contact:
    name: APIVerve
    url: https://apiverve.com
    email: hello@apiverve.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.apiverve.com
    description: Production server
security:
  - ApiKeyAuth: []
paths:
  /v1/cardvalidator:
    get:
      summary: Card Validator
      description: >-
        Card Validator checks whether a card number is valid, identifies the
        card brand, and flags risk. It runs the Luhn checksum, detects the
        scheme (Visa, Mastercard, Amex and more), returns the PCI-safe BIN and
        last 4 digits, flags known processor test cards, and returns a composite
        risk score.
      operationId: cardvalidator
      tags:
        - null
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  data:
                    type: object
        '400':
          description: Bad Request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing API key
        '429':
          description: Too Many Requests - Rate limit exceeded
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas: {}
