openapi: 3.0.0
info:
  title: UUID Generator
  version: '1'
  description: >-
    UUID Generator is a tool for generating Universally Unique Identifiers
    (UUIDs). It creates RFC 4122 version 4 UUIDs with multiple formatting
    options for different platform requirements.
  contact:
    name: APIVerve
    url: https://apiverve.com
    email: hello@apiverve.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.apiverve.com
    description: Production server
security:
  - ApiKeyAuth: []
paths:
  /v1/uuidgenerator:
    get:
      summary: UUID Generator
      description: >-
        UUID Generator is a tool for generating Universally Unique Identifiers
        (UUIDs). It creates RFC 4122 version 4 UUIDs with multiple formatting
        options for different platform requirements.
      operationId: uuidgenerator
      tags:
        - null
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  data:
                    type: object
        '400':
          description: Bad Request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing API key
        '429':
          description: Too Many Requests - Rate limit exceeded
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas: {}
