openapi: 3.0.0
info:
  title: Recipe Generator
  version: '1'
  description: >-
    Recipe Generator is an AI-powered tool for generating detailed recipes. It
    returns complete recipes with ingredients, instructions, prep time, cook
    time, and servings.
  contact:
    name: APIVerve
    url: https://apiverve.com
    email: hello@apiverve.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.apiverve.com
    description: Production server
security:
  - ApiKeyAuth: []
paths:
  /v1/recipe:
    get:
      summary: Recipe Generator
      description: >-
        Recipe Generator is an AI-powered tool for generating detailed recipes.
        It returns complete recipes with ingredients, instructions, prep time,
        cook time, and servings.
      operationId: recipe
      tags:
        - null
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  data:
                    type: object
        '400':
          description: Bad Request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing API key
        '429':
          description: Too Many Requests - Rate limit exceeded
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas: {}
