openapi: 3.0.0
info:
  title: Truth or Dare
  version: '1'
  description: >-
    Truth or Dare generates random truth questions and dare challenges for the
    classic party game. Features 400+ unique prompts with per-API-key tracking
    to avoid repeats.
  contact:
    name: APIVerve
    url: https://apiverve.com
    email: hello@apiverve.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.apiverve.com
    description: Production server
security:
  - ApiKeyAuth: []
paths:
  /v1/truthordare:
    get:
      summary: Truth or Dare
      description: >-
        Truth or Dare generates random truth questions and dare challenges for
        the classic party game. Features 400+ unique prompts with per-API-key
        tracking to avoid repeats.
      operationId: truthordare
      tags:
        - null
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  data:
                    type: object
        '400':
          description: Bad Request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing API key
        '429':
          description: Too Many Requests - Rate limit exceeded
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas: {}
