openapi: 3.0.0
info:
  title: NSFW Image Detector
  version: '1'
  description: >-
    NSFW Detector is a simple tool for detecting NSFW content. It returns a
    boolean
  contact:
    name: APIVerve
    url: https://apiverve.com
    email: hello@apiverve.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.apiverve.com
    description: Production server
security:
  - ApiKeyAuth: []
paths:
  /v1/nsfwimagedetector:
    post:
      summary: NSFW Image Detector
      description: >-
        NSFW Detector is a simple tool for detecting NSFW content. It returns a
        boolean
      operationId: nsfwimagedetector
      tags:
        - null
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - image
              properties:
                image:
                  type: string
                  format: binary
                  description: >-
                    Upload an image file (supported formats: .jpg, .jpeg, .png,
                    .gif, max 10MB)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  data:
                    type: object
        '400':
          description: Bad Request - Invalid parameters or file
        '401':
          description: Unauthorized - Invalid or missing API key
        '413':
          description: Payload Too Large - File size exceeds limit
        '429':
          description: Too Many Requests - Rate limit exceeded
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas: {}
