openapi: 3.0.0
info:
  title: Word Search Generator
  version: '1'
  description: >-
    Word Search Generator creates customizable word search puzzles with
    configurable grid size, word placement, and difficulty levels.
  contact:
    name: APIVerve
    url: https://apiverve.com
    email: hello@apiverve.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.apiverve.com
    description: Production server
security:
  - ApiKeyAuth: []
paths:
  /v1/wordsearch:
    get:
      summary: Word Search Generator
      description: >-
        Word Search Generator creates customizable word search puzzles with
        configurable grid size, word placement, and difficulty levels.
      operationId: wordsearch
      tags:
        - null
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  data:
                    type: object
        '400':
          description: Bad Request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing API key
        '429':
          description: Too Many Requests - Rate limit exceeded
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas: {}
