openapi: 3.0.0
info:
  title: Trade Balance
  version: '1'
  description: >-
    Trade Balance provides US international trade data including customs duties
    and trade flow information from the Treasury Department.
  contact:
    name: APIVerve
    url: https://apiverve.com
    email: hello@apiverve.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.apiverve.com
    description: Production server
security:
  - ApiKeyAuth: []
paths:
  /v1/tradebalance:
    get:
      summary: Trade Balance
      description: >-
        Trade Balance provides US international trade data including customs
        duties and trade flow information from the Treasury Department.
      operationId: tradebalance
      tags:
        - null
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  data:
                    type: object
        '400':
          description: Bad Request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing API key
        '429':
          description: Too Many Requests - Rate limit exceeded
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas: {}
