openapi: 3.0.0
info:
  title: Cron Expression Parser
  version: '1'
  description: >-
    Cron Expression Parser is a comprehensive tool for parsing and validating
    cron expressions. It supports both 5-field and 6-field formats and returns
    detailed information about each field.
  contact:
    name: APIVerve
    url: https://apiverve.com
    email: hello@apiverve.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.apiverve.com
    description: Production server
security:
  - ApiKeyAuth: []
paths:
  /v1/cronparser:
    get:
      summary: Cron Expression Parser
      description: >-
        Cron Expression Parser is a comprehensive tool for parsing and
        validating cron expressions. It supports both 5-field and 6-field
        formats and returns detailed information about each field.
      operationId: cronparser
      tags:
        - null
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  data:
                    type: object
        '400':
          description: Bad Request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing API key
        '429':
          description: Too Many Requests - Rate limit exceeded
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas: {}
