openapi: 3.0.0
info:
  title: BMI Calculator
  version: '1'
  description: >-
    BMI Calculator is a simple tool for calculating body mass index. It returns
    the calculated BMI based on the weight and height provided.
  contact:
    name: APIVerve
    url: https://apiverve.com
    email: hello@apiverve.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.apiverve.com
    description: Production server
security:
  - ApiKeyAuth: []
paths:
  /v1/bmicalculator:
    get:
      summary: BMI Calculator
      description: >-
        BMI Calculator is a simple tool for calculating body mass index. It
        returns the calculated BMI based on the weight and height provided.
      operationId: bmicalculator
      tags:
        - null
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  data:
                    type: object
        '400':
          description: Bad Request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing API key
        '429':
          description: Too Many Requests - Rate limit exceeded
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas: {}
