openapi: 3.0.0
info:
  title: BMI Calculator
  version: '1'
  description: >-
    BMI Calculator computes Body Mass Index along with ideal weight ranges, BMR
    (Basal Metabolic Rate), TDEE (Total Daily Energy Expenditure), calorie
    targets, and macronutrient recommendations for fitness and health
    applications.
  contact:
    name: APIVerve
    url: https://apiverve.com
    email: hello@apiverve.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.apiverve.com
    description: Production server
security:
  - ApiKeyAuth: []
paths:
  /v1/bmicalculator:
    get:
      summary: BMI Calculator
      description: >-
        BMI Calculator computes Body Mass Index along with ideal weight ranges,
        BMR (Basal Metabolic Rate), TDEE (Total Daily Energy Expenditure),
        calorie targets, and macronutrient recommendations for fitness and
        health applications.
      operationId: bmicalculator
      tags:
        - null
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  data:
                    type: object
        '400':
          description: Bad Request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing API key
        '429':
          description: Too Many Requests - Rate limit exceeded
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas: {}
