openapi: 3.0.0
info:
  title: IP Blacklist Lookup
  version: '1'
  description: >-
    IP Blacklist Lookup checks whether a given IP address appears on known
    malicious IP blocklists. Identifies both inbound threats (attackers,
    spammers) and outbound threats (C2 servers, malware hosts).
  contact:
    name: APIVerve
    url: https://apiverve.com
    email: hello@apiverve.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.apiverve.com
    description: Production server
security:
  - ApiKeyAuth: []
paths:
  /v1/ipblacklistlookup:
    get:
      summary: IP Blacklist Lookup
      description: >-
        IP Blacklist Lookup checks whether a given IP address appears on known
        malicious IP blocklists. Identifies both inbound threats (attackers,
        spammers) and outbound threats (C2 servers, malware hosts).
      operationId: ipblacklistlookup
      tags:
        - null
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  data:
                    type: object
        '400':
          description: Bad Request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing API key
        '429':
          description: Too Many Requests - Rate limit exceeded
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas: {}
